In [1]:
import pandas as pd
df = pd.read_csv('dataset_Facebook.csv',sep=';')
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4.0,3,0.0,2752.0,5091.0,178.0,109.0,159.0,3078.0,1640.0,119.0,4.0,79.0,17.0,100
1,139441,Status,2,12,3.0,10,0.0,10460.0,19057.0,1457.0,1361.0,1674.0,11710.0,6112.0,1108.0,5.0,130.0,29.0,164
2,139441,Photo,3,12,3.0,3,0.0,2413.0,4373.0,177.0,113.0,154.0,2812.0,1503.0,132.0,0.0,66.0,14.0,80
3,139441,Photo,2,12,2.0,10,1.0,50128.0,87991.0,2211.0,790.0,1119.0,61027.0,32048.0,1386.0,58.0,1572.0,147.0,1777
4,139441,Photo,2,12,2.0,3,0.0,7244.0,13594.0,671.0,410.0,580.0,6228.0,3200.0,396.0,19.0,325.0,49.0,393

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 496 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         496 non-null    float64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 497 non-null    float64
 7   Lifetime Post Total Reach                                            496 non-null    float64
 8   Lifetime Post Total Impressions                                      499 non-null    float64
 9   Lifetime Engaged Users                                               496 non-null    float64
 10  Lifetime Post Consumers                                              484 non-null    float64
 11  Lifetime Post Consumptions                                           497 non-null    float64
 12  Lifetime Post Impressions by people who have liked your Page         498 non-null    float64
 13  Lifetime Post reach by people who like your Page                     498 non-null    float64
 14  Lifetime People who have liked your Page and engaged with your post  488 non-null    float64
 15  comment                                                              497 non-null    float64
 16  like                                                                 499 non-null    float64
 17  share                                                                486 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(13), int64(5), object(1)
memory usage: 74.3+ KB

In [3]:
df = df.drop(['Type'],axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Category                                                             500 non-null    int64
 2   Post Month                                                           500 non-null    int64
 3   Post Weekday                                                         496 non-null    float64
 4   Post Hour                                                            500 non-null    int64
 5   Paid                                                                 497 non-null    float64
 6   Lifetime Post Total Reach                                            496 non-null    float64
 7   Lifetime Post Total Impressions                                      499 non-null    float64
 8   Lifetime Engaged Users                                               496 non-null    float64
 9   Lifetime Post Consumers                                              484 non-null    float64
 10  Lifetime Post Consumptions                                           497 non-null    float64
 11  Lifetime Post Impressions by people who have liked your Page         498 non-null    float64
 12  Lifetime Post reach by people who like your Page                     498 non-null    float64
 13  Lifetime People who have liked your Page and engaged with your post  488 non-null    float64
 14  comment                                                              497 non-null    float64
 15  like                                                                 499 non-null    float64
 16  share                                                                486 non-null    float64
 17  Total Interactions                                                   500 non-null    int64
dtypes: float64(13), int64(5)
memory usage: 70.4 KB

In [5]:
df = df.dropna(axis = 0)

In [6]:
df.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,2,12,4.0,3,0.0,2752.0,5091.0,178.0,109.0,159.0,3078.0,1640.0,119.0,4.0,79.0,17.0,100
1,139441,2,12,3.0,10,0.0,10460.0,19057.0,1457.0,1361.0,1674.0,11710.0,6112.0,1108.0,5.0,130.0,29.0,164
2,139441,3,12,3.0,3,0.0,2413.0,4373.0,177.0,113.0,154.0,2812.0,1503.0,132.0,0.0,66.0,14.0,80
3,139441,2,12,2.0,10,1.0,50128.0,87991.0,2211.0,790.0,1119.0,61027.0,32048.0,1386.0,58.0,1572.0,147.0,1777
4,139441,2,12,2.0,3,0.0,7244.0,13594.0,671.0,410.0,580.0,6228.0,3200.0,396.0,19.0,325.0,49.0,393

In [7]:
y = df['Paid']
df = df.drop('Paid',axis = 1)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
model = LogisticRegression(max_iter = 10000)
X_train, X_test, y_train, y_test = train_test_split(df,y,test_size = 0.33)
model.fit(X_train,y_train)
predict = model.predict(X_test)

In [28]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report
precision_score(y_test,predict)

0.6

In [29]:
recall_score(y_test,predict)

0.08823529411764706

In [30]:
accuracy_score(y_test,predict)

0.773972602739726

In [31]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

         0.0       0.78      0.98      0.87       112
         1.0       0.60      0.09      0.15        34

    accuracy                           0.77       146
   macro avg       0.69      0.54      0.51       146
weighted avg       0.74      0.77      0.70       146

In [13]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(296, 17) (146, 17) (296,) (146,)